{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h2 class="card-title">User Register Page</h2>
                </div>
                <div class="card-body">
                    <form method="post" class="p-4" novalidate>
                        {% csrf_token %}
                        {% for fm in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ fm.label_tag }}</label>
                            <div>
                                {{ fm|add_class:"form-control"}}
                                <small class="text-danger">{{ fm.errors|striptags }}</small>
                            </div>
                        </div>
                        {% endfor %}
                      
                        <div class="d-grid">
                            <button class="btn btn-warning btn-lg btn-block">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
